body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, select, button {
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result.extremely-underweight {
    color: #dc3545;
}

.result.underweight {
    color: #ffc107;
}

.result.healthy {
    color: #28a745;
}

.result.overweight {
    color: #ffc107;
}

.result.extremely-overweight {
    color: #dc3545;
}
